div.current-menu-image {
  float:left;
  margin: 10px;
}

div.current-menu-image img {
  max-height:167px;
  max-width:250px;
}

div#edit-menu-menu-image-file-title-wrapper,
div#edit-menu-menu-image-file-alt-wrapper,
div#edit-menu-menu-image-delete-image-wrapper {
  float:left;
  width:500px;
}

div#edit-menu-menu-image-delete-image-wrapper {
  float:right;
}

div#edit-menu-parent-wrapper {
  clear:both;
}